<div class = "menu">
	<div class = "linkWrap">
		<ul class="linkList">
			<li>
				<a href = "{{ site.baseurl }}/" class="menuLink">Home</a>
			</li>
			<li>
				<a href = "{{ site.baseurl }}/services/" class="menuLink">Services</a>
			</li>
			<li>
				<a href = "{{ site.baseurl }}/contact/" class="menuLink">Contact</a>
			</li>
		</ul>
	</div>
</div>
<div id="page" class="site">
	<header id="masthead" class="site-header">
		<div class="secondaryNavigation">
			<div class="pageWidth secondaryMenuWrap">
				<i class="icon-phone fas fa-phone whiteIcon" id="phoneIcon"></i>
				<a href="tel:(608)524-0505" class="secondaryLink">(608)524-0505</a>
			</div>
		</div>
		<div id="site-navigation" class="main-navigation">
			<nav>
				<div class="pageWidth menuLinkWrap">
					<ul class="linkList2">
						<li>
							<a href = "{{ site.baseurl }}/" class="menuLink">Home</a>
						</li>
						<li>
							<a href = "{{ site.baseurl }}/services/" class="menuLink">Services</a>
						</li>
						<li>
							<a href = "{{ site.baseurl }}/contact/" class="menuLink">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div><!-- #site-navigation -->
</header><!-- #masthead -->
