/* 5.0 Footer Stylings -------------------------------------------*/
.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  width: 100%;
  text-align: center;
  background: $white;
  list-style-type: none;
  @include breakpoint(laptopScreen) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 120px;
  }
}
.site-footer {
  position: relative;
  z-index: 2;
  background: rgb(35, 35, 35);
  background: -webkit-radial-gradient(
    circle,
    rgba(35, 35, 35, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(35, 35, 35, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  color: $white;
  padding: 0 0 50px 0;
  margin: 0 auto;
}
.footerContact {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  a {
    text-decoration: none;
    color: $primaryColor;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    &:hover {
      color: $secondaryColor;
      -webkit-transition: 0.3s ease all;
      transition: 0.3s ease all;
    }
  }
}
#copyrightWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include breakpoint(laptopScreen) {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  p {
    margin: 0;
  }
}
#copyright {
  background: $primaryColor;
  color: $white;
  margin-bottom: -50px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  @include breakpoint(laptopScreen) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 12px;
  }
  @include breakpoint(largeScreen) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    color: $lightGrey;
  }
}
#copyrightContentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include breakpoint(laptopScreen) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
#copyrightLinkWrap {
  text-align: center;
  a {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    color: $secondaryColor;
  }
}
#privacyWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.borderRight {
  border-right: 1px solid $white;
  padding: 0 10px 0 10px;
}
#privacyLink {
  padding: 0 10px 0 10px;
}
#contactLink {
  padding: 0 10px 0 10px;
}
#siteAuthor {
  text-align: center;
  padding: 10px;
  @include breakpoint(laptopScreen) {
    text-align: right;
  }
}
#siteAuthorLink {
  a {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    color: $secondaryColor;
  }
}
