/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: #ffffff;
	margin: 0;
}
::selection{
		background: rgba(137, 67, 128, .6);
}
::-moz-selection{
	background: rgba(137, 67, 128, .6);
}
.plainLink{
	text-decoration: none;
	color: $primaryColor;
	transition: .3s ease all;
    &:hover{
    color: $secondaryColor;
    transition: .3s ease all;
    }
}
