/*4.0 Header Styling -------------------------------------------*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 70px;
  width: 100vw;
}
.main-navigation {
  width: 100%;
  margin: 0 auto;
  background: rgb(35, 35, 35);
  background: -webkit-radial-gradient(
    circle,
    rgba(35, 35, 35, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(35, 35, 35, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(42, 42, 42, 0.2);
}
.secondaryNavigation {
  height: 40px;
  margin: 0 auto;
  width: 100%;
  background: $primaryColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menuLinkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.secondaryMenuWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.secondaryLink {
  color: $white;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  padding: 0 10px 0 10px;
  font-size: 12px;
  &:hover {
    color: $lightGrey;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  @include breakpoint(largeMobileScreen) {
    padding: 0 20px 0 5px;
    font-size: 14px;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.menu {
  position: absolute;
  top: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  background-color: $white;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
}
.linkWrap {
  position: absolute;
  top: 150px;
  margin: 0 50px 0 50px;
  width: 80%;
  text-align: center;
  @include breakpoint(largeMobileScreen) {
    top: 75px;
    padding: 0;
    margin: 0;
    a {
      color: $primaryColor;
      text-decoration: none;
    }
    li {
      list-style-type: none;
      margin-top: 50px;
      font-size: 1.414em;
      border-bottom: 1px solid $lightGrey;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    @include breakpoint(smallScreen) {
      margin-top: 30px;
      font-size: 1em;
    }
  }
  @include breakpoint(smallScreen) {
    top: 75px;
    padding: 0;
    margin: 0;
    a {
      color: $primaryColor;
      text-decoration: none;
    }
    li {
      list-style-type: none;
      margin-top: 50px;
      font-size: 1.414em;
      border-bottom: 1px solid $lightGrey;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    @include breakpoint(smallScreen) {
      margin-top: 30px;
      font-size: 1em;
    }
  }
}
.menuLink {
  position: relative;
  display: block;
  padding: 10px 20px 10px 20px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  color: $white;
  @include breakpoint(largeMobileScreen) {
    margin: 0 50px 0 50px;
  }
}
.menuLink {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 3px;
    background: $primaryColor;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  &:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      width: 100%;
      height: 3px;
      background: $primaryColor;
      -webkit-transition: 0.3s ease all;
      transition: 0.3s ease all;
    }
  }
}
.menu {
  .active {
    a {
      border-bottom: 2px solid $primaryColor !important;
      color: $white;
      width: 100%;
      text-align: initial;
    }
  }
}
.linkList2 {
  .active {
    a {
      margin-bottom: -1px;
      border-bottom: 3px solid $primaryColor !important;
      -webkit-transition: 0.2s ease all;
      transition: 0.2s ease all;
    }
  }
}
.linkList2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  @include breakpoint(largeScreen) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
  }
  a {
    color: $primaryColor;
    text-decoration: none;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  &:hover {
    color: $secondaryColor;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
}
