/* 10.0 Homepage stylings -------------------------------------------*/
#homeHero{
	background-image: url("../img/AlanaWithAClientCropped1.jpg");
}
#heroTitle{
	font-size: 2.827em;
}
#heroDesc{
	font-size: 1.414em;
}
.heroHeadingWrap{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 100%;
	align-items: center;
	justify-content: center;
    @include breakpoint(smallScreen){
      display: none;
    }
    @include breakpoint(largeMobileScreen){
      display: none;
    }
    @include breakpoint(laptopScreen){
      display: flex;
    }
}
.mobileHeroHeading{
	display: none;
    @include breakpoint(smallScreen){
      background: #1D1D1D;
		  display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      background: #1D1D1D;
		  display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }@include breakpoint(laptopScreen){
      display: none;
    }
}
#heroHeading{
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.homeHeading{
	padding: 50px;
  @include breakpoint(smallScreen){
    padding: 20px;
  }
  @include breakpoint(largeMobileScreen){
    padding: 50px;
  }
}
.heroHeading{
	padding: 50px;
    @include breakpoint(smallScreen){
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 50px;
    }
}
#hoursWrap{
	display:flex;
	justify-content: center;
		@include breakpoint(smallScreen){
			flex-direction: column;
		}
		@include breakpoint(largeMobileScreen){
			flex-direction: column;
		}
		@include breakpoint(laptopScreen){
			flex-direction: row;
		}
}
.hours{
	padding: 0 20px 0 20px;
}
.introWrap{
	padding: 50px 20px 50px 20px;
}
#services{
	background: rgb(35,35,35);
	background: radial-gradient(circle, rgba(35,35,35,1) 30%, rgba(0,0,0,1) 100%);
}
#slantedBackground{
	background-image: url("../img/BlackSlantedBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#alanaImage{
	margin: 0 auto;
}
#portfolio{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.portfolioImage{
	max-width: 300px;
	max-height: 400px;
	margin: 10px;
}
