/*9.0 Icon Styling -------------------------------------------*/
.whiteIcon {
  color: $white;
  transition: 0.3s ease all;
}
.primaryIcon {
  color: $primaryColor;
}
#phoneIcon {
  font-size: 16px;
}
#copyrightIcon {
  font-size: 16px;
}
#facebookIcon {
  font-size: 30px;
}
